header{
	background: violet

}
h1{
	text-align: center;
	color: white;
}

.nvo{
	text-align: center;
	margin-left: 200px;
	padding: 200px;
}

label{
	text-align: center;
}

h3{
	text-align: justify;
	margin-left: 100px;
	margin-right: 100px;
	color: purple;

}

p{
	text-align: justify;
	margin-left: 100px;
	margin-right: 100px;
}

