<div class="container">
<h5 class="text-center m-4">Aprobar Proyectos</h5>
<!--Para agregar informacion adicional despues https://datatables.net/examples/api/row_details.html-->
<table id="myTable" class="display" style="width:100%">
        <thead>
            <tr>
                <th class="col-sm-4">Nombre</th>
                <th>Decision</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Tiger Nixon</td>
                <td>
				<button onclick="Proyecto(value)" type="button" class="btn btn-success" value="Aprobar">Aceptar</button>
				<button onclick="Proyecto(value)" type="button" class="btn btn-danger" value="Rechazar">Rechazar</button>
				</td>
            </tr>
            <tr>
                <td>Garrett Winters</td>
                <td>
				<button onclick="Proyecto(value)" type="button" class="btn btn-success" value="Aceptar">Aceptar</button>
				<button onclick="Proyecto(value)" type="button" class="btn btn-danger" value="Rechazar">Rechazar</button>
				</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>Nombre</th>
                <th>Decision</th>
            </tr>
        </tfoot>
    </table>
</div>