<div class="container">
	<h5 class="text-center m-4">Calendario</h5>

<div class="row form-group text-center">
    <div class="col">
		Descripcion
    </div>
    <div class="col align-middle">
		Fechas
	</div>
</div>


<div class="row form-group text-center">
    <div class="col">
      <input type="text" class="form-control">
    </div>
    <div class="col align-middle">
	
		<div class="row" id="1" onmouseover="dates(id)">
			<div class="col"><input type="text" readonly class="form-control" id="1from"></div>
			<div class="col-2">hasta</div>
			<div class="col"><input type="text" readonly class="form-control" id="1fromto"></div>
		</div>
    </div>
  </div>

<div class="row form-group text-center">
    <div class="col">
      <input type="text" class="form-control">
    </div>
    <div class="col align-middle">
	
		<div class="row" id="2" onmouseover="dates(id)">
			<div class="col"><input type="text" readonly class="form-control" id="2from"></div>
			<div class="col-2">hasta</div>
			<div class="col"><input type="text" readonly class="form-control" id="2fromto"></div>
		</div>
    </div>
  </div>

<div class="row form-group text-center">
    <div class="col">
      <input type="text" class="form-control">
    </div>
    <div class="col align-middle">
	
		<div class="row" id="3" onmouseover="dates(id)">
			<div class="col"><input type="text" readonly class="form-control" id="3from"></div>
			<div class="col-2">hasta</div>
			<div class="col"><input type="text" readonly class="form-control" id="3fromto"></div>
		</div>
    </div>
  </div>


</div>