<div>
  <!-- <div style="position: relative;width: 98.6%"></div> -->
  <!--  <div style="width: 98.71%;background: #232222;height: 45px;position: absolute;"></div> -->
      <embed src="completed/Cierre.pdf" type="application/pdf">
</div>

<div class=”section2 text-center”>
   <button class="btn btn-outline-primary btn-lg btn-block">
     Descargar Carta de Cierre
   </button>
</div>
