<div class="container d-flex justify-content-center">
    <div id="carouselExampleControls" class="carousel slide " data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="./resources/images/home_1.jpg" class="d-block w-50" alt="...">
            </div>
            <div class="carousel-item">
                <img src="./resources/images/home_2.jpg" class="d-block w-20" alt="...">
            </div>
            <div class="carousel-item">
                <img src="./resources/images/home_3.png" class="d-block w-50" alt="...">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>