<div class="container">
	<h5 class="text-center m-4">Organizaciones</h5>
	<!--Para agregar informacion adicional despues https://datatables.net/examples/api/row_details.html-->

	<table class="display DataTable text-center" style="width:100%">
        <thead>
            <tr>
                <th>Nombre de la Organizacion</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Org1</td>
            </tr>
            <tr>
                <td>Org2</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>Nombre de la Organizacion</th>
            </tr>
            </tr>
        </tfoot>
    </table>
</div>