<div ng-controller="actividadesCtrl">
    <h6 class="text-center">Actividades</h6>
    <table class="table">
        <thead class="bg-purple thead text-light ">
            <tr>
                <th scope="col">Duración</th>
                <th scope="col">Descripción</th>
            </tr>
        </thead>
        <tbody ng-repeat="x in actividades">
            <tr>
                <td>{{x.duracion}}</td>
                <td>{{x.descripcion}} días</td>
            </tr>
        </tbody>
    </table>
</div>