<div class="container">
    <h5 class="text-center m-4">Proyectos</h5>
    <div ng-controller="proyectosCtrl">
        <table class="table">
            <thead class="bg-primary thead text-light ">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Vacantes</th>
                    <th scope="col">Horas de acreditación</th>
                    <th scope="col">Estatus</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody ng-repeat="x in proyectos">
                <tr>
                    <th scope="row">{{x.nombre }}</th>
                    <td>{{x.vacantes}}</td>
                    <td>{{x.horas}}</td>
                    <td>{{x.estatus}}</td>
                    <!--Botones de acciones -->
                    <td>
                        <button class="btn btn-yellow btn-circle btn-sm p-2 m-1" href="#" role="button"
                            data-toggle="tooltip" data-placement="top" title="Editar">
                            <i class="fas fa-edit">
                            </i>
                        </button>
                        <button class="btn btn-red btn-circle btn-sm p-2 m-1" href="#" role="button"
                            data-toggle="tooltip" data-placement="top" title="Eliminar">
                            <i class="fas fa-trash">
                            </i>
                        </button>
                        <button class="btn btn-green btn-circle btn-sm p-2 m-1" href="#" role="button"
                            data-toggle="tooltip" data-placement="top" title="Archivar">
                            <i class="fas fa-archive">
                            </i>
                        </button>
                        <button type="button" class="btn btn-circle btn-sm p-2 m-1" href="#" data-toggle="collapse"
                            data-target="#{{x.collapse_id}}" data-toggle="tooltip" data-placement="top" title="Detalles"
                            aria-expanded="false" aria-controls="collapseExample">
                            <i class="fas fa-chevron-down js-rotate-if-collapsed">
                            </i>
                        </button>
                    </td>
                    <!--End Botones de acciones-->
                </tr>
                <!--Detalles-->
                <tr id="{{x.collapse_id}}" class="collapse">
                    <td colspan="5">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="card" style="width: 18rem;">
                                        <div class="card-body">
                                            <h5 class="card-title">Descripción</h5>
                                            <p class="card-text">
                                                <div class="container">

                                                    <div class="row">
                                                        <div class="col-sm">
                                                            Duración
                                                        </div>
                                                        <div class="col-sm">
                                                            
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-sm">
                                                            <div w3-include-html="./partials/_proyectos_actividades.html"></div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="card" style="width: 18rem;">

                                        <div class="card-body">
                                            <h5 class="card-title">Perfil</h5>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="card" style="width: 18rem;">

                                        <div class="card-body">
                                            <h5 class="card-title">Contacto</h5>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>