

<div class="container">
    <h5 class="text-center m-4">Proyectos</h5>
    <div class="navbar">


    <div id="DataTables_Table_0_filter" class="dataTables_filter"><label>Search:<input type="search" class="" placeholder="" aria-controls="DataTables_Table_0_filterTables_Table_0"></label></div>
<div id="header">
            <ul class="nav">
                <li><a href=""> Periodo</li>
                    <ul>
                        <li><a href="">Ago-Dic 2020 </a></li>
                       <li><a href="">Ago-Dic 2021</a></li>


                        </li>
                    </ul>


        </div>

    <table class="display DataTable" style="width:100%">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Horas a acreditar</th>
                <th>Organizaciòn</th>
                <th>Vacantes</th>
                <th>Carreras</th>
                <th>Alumnos inscritos</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Proyecto 1</td>
                <td>10</td>
                <td>Nombre1</td>
                <td>49</td>
                <td>ISC</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Proyecto 2</td>
                <td>66</td>
                <td>Nombre2</td>
                <td>9</td>
                <td>IIS, ISD</td>
                <td>10</td>
            </tr>


            <tr>
                <td>Proyecto 3</td>
                <td>38</td>
                <td>Nombre2</td>
                <td>6</td>
                <td>ISC</td>
                <td>1</td>
            </tr>
            </tr>
            </tbody>

    </table>
</div>
