<div>
    <table class="table">
        <thead class="bg-{{rol_primary}} thead text-dark ">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Accion</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="lugar_servicio in proyecto.proyecto_lugares_servicio">
                <td>
                    {{lugar_servicio.lugar_servicio_nombre}}
                </td>
                <td>
                    <button class="btn btn-yellow-pastel btn-circle btn-sm" href="#" role="button" data-toggle="tooltip"
                        data-placement="top" title="Quitar {{lugar_servicio.lugar_servicio_nombre}}"
                        ng-click="removeLugarServicio(lugar_servicio, proyecto)">
                        <i class="fas fa-minus">
                        </i>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="d-flex justify-content-center">
                        <select class="form-control s" ng-model="lugar_servicio_nuevo.lugar_servicio_nombre">
                            <option ng-repeat="lugares_opciones in lugares_servicio_menu">
                                {{lugares_opciones.lugar_servicio_nombre}}
                            </option>
                        </select>
                    </div>

                </td>
                </td>

                <td>
                    <button class="btn btn-blue-pastel btn-circle btn-sm" href="#" role="button" data-toggle="tooltip"
                        data-placement="top" title="Quitar {{lugar_servicio.lugar_servicio_nombre}}"
                        ng-click="addLugarServicio(proyecto.proyecto_lugares_servicio, lugar_servicio_nuevo)">
                        <i class="fas fa-plus">
                        </i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>