<div>
    <table class="table">
        <thead class="bg-{{rol_primary}} thead text-dark ">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Accion</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="estilo_trabajo in proyecto.proyecto_estilos_trabajo">
                <td>
                    {{estilo_trabajo.estilo_trabajo_nombre}}
                </td>
                <td>
                    <button class="btn btn-yellow-pastel btn-circle btn-sm" href="#" role="button" data-toggle="tooltip"
                        data-placement="top" title="Quitar {{estilo_trabajo.estilo_trabajo_nombre}}"
                        ng-click="removeEstiloTrabajo(estilo_trabajo, proyecto)">
                        <i class="fas fa-minus">
                        </i>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="d-flex justify-content-center">
                        <select class="form-control s" ng-model="estilo_trabajo_nuevo.estilo_trabajo_nombre">
                            <option ng-repeat="estilo_opciones in estilos_trabajo_menu">{{estilo_opciones.estilo_trabajo_nombre}}
                            </option>
                        </select>
                    </div>

                </td>
                </td>

                <td>
                    <button class="btn btn-blue-pastel btn-circle btn-sm" href="#" role="button" data-toggle="tooltip"
                        data-placement="top" title="Quitar {{carrera.carrera_nombre}}"
                        ng-click="addEstiloTrabajo(proyecto.proyecto_estilos_trabajo, estilo_trabajo_nuevo)">
                        <i class="fas fa-plus">
                        </i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>