<nav class="navbar">
  <ul class="navbar-nav">

    <li class="logo">
      <a href="#" class="nav-link">
        <span class="link-text logo-text">
          <img src="resources/images/TEC21.svg" height="130">
        </span>
        <i class="fas fa-angle-double-right fa-2x"></i>
      </a>
    </li>


    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="fas fa-home fa-2x"></i>
        <span class="link-text">HOME</span>
      </a>
    </li>


    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="fas fa-users-cog fa-2x"></i>
        <span class="link-text">PROYECTOS</span>
      </a>
    </li>

    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="fas fa-file-signature fa-2x"></i>
        <span class="link-text">CONVENIO</span>
      </a>
    </li>

    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="fas fa-user-graduate fa-2x"></i>
        <span class="link-text">EVALUACIÓN</span>
      </a>
    </li>

    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="fas fa-hands-helping fa-2x"></i>
        <span class="link-text">ACREDITACIÓN</span>
      </a>
    </li>

     <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="fas fa-envelope-open-text fa-2x"></i>
        <span class="link-text">CARTA</span>
      </a>
    </li>




    
  </ul>
</nav>


