.header {
  padding: 60px;
  text-align: center;
  background: #50170a;
  color: white;
  font-size: 30px;
}


h1{
	text-align: center
}


h3 {
  text-align: center;
  

}

p {
  font-family: Lucida Console;
  font-size: 20px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 100px;
  margin-left: 100px;
}

body{
 
  
}
footer{
	text-align: center;
	font-family: Lucida Console;
	color: white;
  	font-size: 5px;
  	background: #a24d41;
}

label{
	text-align: center;
  font-family: Lucida Console;
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 100px;
  margin-left: 100px;
}

  h2{
  text-align: justify;
  font-family: Lucida Console;
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 100px;
  margin-left: 100px;
  }


  h6{
 text-align: left;
  font-family: Lucida Console;
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 100px;
  margin-left: 100px;
  }