<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- CSS -->
<!-- Main css is a personalized version of Bootsrap, it can be customized using the main.scss file, located in resources/css -->
<!-- To compile, write in the terminal: sass main.scss main.css -->

<link href="resources/css/navbar.css" rel="stylesheet">
<link href="resources/css/buttons.css" rel="stylesheet">
<link href="resources/css/collapse_icon.css" rel="stylesheet">
<link href="resources/css/pdfviewer.css" rel="stylesheet">
<link href="resources/css/evaluacion.css" rel="stylesheet">
<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css" rel="stylesheet">
<link href="resources/css/main.css" rel="stylesheet">
<link href="resources/css/angular.css" rel="stylesheet">

<!-- Google Material Icons and font -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap" rel="stylesheet" />
<!-- Font Awesome Icons -->
<script src="https://kit.fontawesome.com/d7dae8da40.js" crossorigin="anonymous"></script>
<!-- Angular -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js"></script>

<!-- Angular controllers -->
<script src="resources/js/angular_js/routes.js"></script>
<script src="resources/js/angular_js/controllers/controller_login.js"></script>
<script src="resources/js/angular_js/controllers/controller_navbar.js"></script>

<!-- Angular controllers socio -->
<script src="resources/js/angular_js/controllers/socio/controller_socio_home.js"></script>
<script src="resources/js/angular_js/controllers/socio/controller_socio_proyectos.js"></script>
<script src="resources/js/angular_js/controllers/socio/controller_socio_convenio.js"></script>
<script src="resources/js/angular_js/controllers/socio/controller_socio_evaluacion.js"></script>
<script src="resources/js/angular_js/controllers/socio/controller_socio_acreditacion.js"></script>
<script src="resources/js/angular_js/controllers/socio/controller_socio_carta.js"></script>

<!-- Angular controllers admin -->
<script src="resources/js/angular_js/controllers/admin/controller_admin_proyectos.js"></script>
<script src="resources/js/angular_js/controllers/admin/controller_admin_home.js"></script>

<script src="resources/js/angular_js/services/service_session.js"></script>

<style>
    select.s {
        width: auto;
    }
</style>