<div>
    <table class="table">
        <thead class="bg-orange-pastel thead text-light ">
            <tr>
                <th scope="col">Duración</th>
                <th scope="col">Descripción</th>
                <th scope="col">Accion</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="actividad in proyecto.proyecto_actividades track by $index">
                <td>
                    <input class="form-control" type="number" string-to-number ng-model="actividad.actividad_duracion"
                        min="0" max="99">
                </td>
                <td><input ng-model="actividad.actividad_descripcion" class="form-control">
                </td>
                <td>
                    <button class="btn btn-yellow-pastel btn-circle btn-sm" href="#" role="button" data-toggle="tooltip"
                        data-placement="top" title="Quitar {{actividad.actividad_descripcion}}"
                        ng-click="removeActividad(actividad, proyecto)">
                        <i class="fas fa-minus">
                        </i>
                    </button>
                </td>
            </tr>
            <tr>
                <td><input class="form-control" type="number" string-to-number
                        name="actividad_nueva.actividad_duracion" ng-model="actividad_nueva.actividad_duracion" min="0" max="99"></td>
                <td><input name="actividad_nueva.actividad_descripcion" ng-model="actividad_nueva.actividad_descripcion" class="form-control"></td>
                <td>
                    <button class="btn btn-blue-pastel btn-circle btn-sm" href="#" role="button" data-toggle="tooltip"
                        data-placement="top" title="Añadir actividad"
                        ng-click="addActividad(proyecto.proyecto_actividades, actividad_nueva)">
                        <i class="fas fa-plus">
                        </i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>