<div class="container">
    <h5 class="text-center m-4">Proyectos</h5>
    <div>
        <table class="table">
            <thead class="bg-blue-pastel thead text-dark ">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Vacantes</th>
                    <th scope="col">Horas de acreditación</th>
                    <th scope="col">Estatus</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody ng-repeat="x in proyectos">
                <tr>
                    <th scope="row">{{x.nombre }}</th>
                    <td>{{x.vacantes}}</td>
                    <td>{{x.horas}}</td>
                    <td>{{x.estatus}}</td>
                    <!--Botones de acciones -->
                    <td>
                        <button class="btn btn-yellow-pastel btn-circle btn-sm p-2 m-1" href="#" role="button"
                            data-toggle="tooltip" data-placement="top" title="Editar">
                            <i class="fas fa-edit">
                            </i>
                        </button>
                        <button class="btn btn-orange-pastel btn-circle btn-sm p-2 m-1" href="#" role="button"
                            data-toggle="tooltip" data-placement="top" title="Eliminar">
                            <i class="fas fa-trash">
                            </i>
                        </button>
                        <button class="btn btn-green-pastel btn-circle btn-sm p-2 m-1" href="#" role="button"
                            data-toggle="tooltip" data-placement="top" title="Archivar">
                            <i class="fas fa-archive">
                            </i>
                        </button>
                        <button type="button" class="btn btn-circle btn-sm p-2 m-1" href="#" data-toggle="collapse"
                            data-target="#{{x.collapse_id}}" data-toggle="tooltip" data-placement="top" title="Detalles"
                            aria-expanded="false" aria-controls="collapseExample">
                            <i class="fas fa-chevron-down js-rotate-if-collapsed">
                            </i>
                        </button>
                    </td>
                    <!--End Botones de acciones-->
                </tr>
                <!--Detalles-->
                <tr id="{{x.collapse_id}}" class="collapse">
                    <td colspan="5">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="card w-100" style="width: 18rem;">
                                        <div class="card-body">
                                            <h5 class="card-title">Descripción</h5>
                                            <p class="card-text">
                                                <div class="container">

                                                    <div class="row">
                                                        <div class="col-sm">
                                                            <h6 class="text-left m-1"> Duración</h6>
                                                        </div>
                                                        <div class="col-sm">
                                                            {{x.duracion}}
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-sm">
                                                            <h6 class="text-left m-1"> Lugar</h6>
                                                        </div>
                                                        <div class="col-sm">
                                                            {{x.lugar}}
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-sm">
                                                            <h6 class="text-left m-1"> Horario</h6>
                                                        </div>
                                                        <div class="col-sm">
                                                            {{x.horario}}
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-sm">
                                                            <h6 class="text-center m-1"> Objetivo</h6>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-sm">
                                                            <p class="text-justify">
                                                                {{x.objetivo}} Lorem Ipsum is simply dummy text of the
                                                                printing and typesetting industry. Lorem Ipsum has been
                                                                the
                                                                industry's standard dummy text ever since the 1500s,
                                                                when an
                                                                unknown printer took a galley of type and scrambled it
                                                                to
                                                                make a type specimen book. It has survived not only five
                                                                centuries, but also the leap into electronic
                                                                typesetting,
                                                                remaining essentially unchanged. It was popularised in
                                                                the
                                                                1960s with the release of Letraset sheets containing
                                                                Lorem
                                                                Ipsum passages, and more recently with desktop
                                                                publishing
                                                                software like Aldus PageMaker including versions of
                                                                Lorem
                                                                Ipsum.
                                                            </p>

                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div ng-include="'components/partials/_proyectos_actividades.html'"></div>
                                                    </div>

                                                </div>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="card w-100" style="width: 18rem;">

                                        <div class="card-body">
                                            <h5 class="card-title">Perfil</h5>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="card w-100" style="width: 18rem;">

                                        <div class="card-body">
                                            <h5 class="card-title">Contacto</h5>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>