.header {
  padding: 20px;
  text-align: center;
  background: #50170a;
  color: white;
  font-size: 10px;
}


h1{
	text-align: center
}


h3 {
  text-align: center;
  

}




p {
  font-family: Lucida Console;
  font-size: 20px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 100px;
  margin-left: 100px;
}

body {
  font-size: 16px;
  padding: 20px;
  margin-left: 50px;
  margin-right: 50px
}
body:before {
  ;
  content: "Marca de agua Lab 6"; 
  font-family: courier new;
  font-size: 100px;  
  color: pink;
  z-index: 9999;
  position: absolute;
 
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
    
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  -ms-pointer-events: none;
  -o-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

footer{
	text-align: center;
	font-family: Lucida Console;
	color: white;
  	font-size: 5px;
  	background: #a24d41;
}

label{
	text-align: center;
  font-family: Lucida Console;
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 100px;
  margin-left: 100px;
}

  h2{
  text-align: justify;
  font-family: Lucida Console;
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 100px;
  margin-left: 100px;
  }


  h6{
 text-align: left;
  font-family: Lucida Console;
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  
  }

  #espacio {
  width: 560px;
  display: block;
  margin: 0 auto;
  background-color: red;
}

input [type:"button"]{
 align-items: center;
}

#div1 {
  width: 350px;
  height: 70px;
  padding: 10px;
  border: 1px solid #aaaaaa;
}