[data-toggle="collapse"][aria-expanded="true"]>.js-rotate-if-collapsed {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    transition: var(--transition-speed) transform ease-in-out;

}

