:root {
  --info: #282a36;
  --green: #69ff94;
  --pink: #ff79c6;
  --yellow: #e8ff81;
  --purple: #d6acff;
  --peach: #ffcc99;
  --midnight_blue: #1E1F26;
  --blue_tec: #0055a6;
  --blue_servicio: #308fcd;
  --green_servicio: #b0c536;
  --baltic_sea: #20212b;
  --light_blue: #46c6e9;
  --transition-speed: 600ms; 
}
/*
Common
*/
body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: var(--light);
}

body::-webkit-scrollbar-thumb {
  background: var(--midnight_blue);
}

.navbar-brand svg {
  height: 2.2rem;
  color: white;
}

.nav-item a {
  text-decoration: none;
  margin: 0 0.5rem;
  width: 10rem;
  border: none;
}

.navbar-item:active {
  border: none;
}

.round {
  border-radius: 50px;
}

.nav-item:hover {
  background-color: var(--white);
}

.nav-item i {
  color: var(--white);
}




/*
admin
*/



.nav-item-admin:hover i {
  color: var(--orange-accent-2);
}

.nav-item-admin:hover span {
  color: var(--orange-accent-2);
}



.nav-item-socio:hover i {
  color: var(--pink-accent-1);
}

.nav-item-socio:hover span {
  color: var(--pink-accent-1);
}