:root {
  --primary:         #308fcd; 
  --secondary:       #b0c536;
  --info:            #282a36;
  --green :          #69ff94;
  --pink:            #ff79c6;
  --yellow:          #e8ff81;
  --purple:          #d6acff;
  --peach:           #ffcc99;
  --blue:            #D0E1F9;
  --midnight_blue:   #1E1F26;
  --blue_tec:        #0055a6;
  --blue_servicio:   #308fcd;
  --green_servicio:  #b0c536;
  --midnight_blue:   #1E1F26;
  --baltic_sea:      #20212b;
  --light_blue:      #46c6e9;
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary:    #1f1f1f;
  --text-secondary:  #000000;
  --bg-primary:      #ececec;
  --bg-secondary:    #ececec;
  --transition-speed: 600ms;
}

.fa-primary {
  color: #ffffff;
}

.fa-secondary {
  color: #46c6e9;
}

.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

.light {
  --text-primary: #46c6e9;
  --text-secondary: #46c6e9;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
}

.solar {
  --bg-primary: #46c6e9;
  --text-primary: #ffffff;

  --bg-secondary: #ffffff;
  --text-secondary: #46c6e9;
  
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #46c6e9;
}

body::-webkit-scrollbar-thumb {
  background: #46c6e9;
}

main {
  margin-left: 5rem;
  padding: 1rem;
  position: none;
  transition: var(--transition-speed);
}

.topbar {
  position: fixed;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  z-index: 1000;
}

.topbar a{ 
  color: var(--text-primary);
}
.topbar svg{ 
  height: 30px;
  margin: 1rem ;
  padding: 0 ;
}

.topbar img{ 
  color: var(--text-primary);
  align-items: center;
  text-align: center;
  height: 3rem;
}

.navbar {
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  overflow: hidden;
}

.navbar-top{
	position:absolute;
	margin-top:0px;
	height:50vh;
}

.navbar-scroll{
	position: fixed;
	margin-top:0px!important;
}

.navbar-nav {
  list-style: none;
  margin: 0 ;
  padding: 0 ;
  display: flex ;
  flex-direction: column ;
  align-items: center;
  text-align: center;
  height: 100% ;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-bottom: auto;
}

.nav-link {
  display: flex ;
  align-items: center;
  text-align: center;
  height: 4rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(0%) opacity(1);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity();
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.nav-link:hover ~ .fa-primary {
  color: #308fcd;
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.nav-link i {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem; 
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text
{
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover ~ main {
    margin-left: 16rem;
    transition: var(--transition-speed);
  }
  
  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg
  {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text
  {
    left: 0px;
  }
}

.theme-icon {
  display: none;
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

.solar #solarIcon {
  display: block;
}
